/*-----------------Notes----------*/

/*font-family: 'Raleway', sans-serif;
font-family: 'Spicy Rice', cursive;
f*/


/*@media screen and (min-widht:600px){
.indexdrum{
}*/


/*-----------------background----------*/


html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: table;
     background-color: #d9a300;
}
@media (max-width: 768px) {
    .body .wrapper{
        margin-top: 200px;
        margin-bottom: 100px;
    }
}

body {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
    background-image: url("images/0001.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
}

@media (max-width: 768px) {
    .body {
        margin-top: 200px;
        margin-bottom: 100px;
    }
}

.wrapper {
    vertical-align: middle;
    justify-content: center;
    margin-top:150px;
    margin-bottom:100px;
    margin-right:auto;
}


/*-----------------Navbar---------------------*/
.navwelcome{
    font-family: 'Spicy Rice', sans-serif;
    font-size: 78px;
    text-transform: uppercase;
    text-align: center;
    color:#222050;
}


.btn-cream{
    background-color: #f2Bb0c;
    border-bottom-width: thick;
    border-color: #fdffe5;
    color:#fdffe5;
    font-family: "Raleway", sans-serif;
    font-size: large;
    text-align: center;
    width:7em;
}

.btn-cream:hover{
    color:#5b9bd5;
}


.btn-cream2{
    background-color: #5b9bd5;
    border-bottom-width: thick;
    border-color: #fdffe5;
    color:#fdffe5;
    font-family: "Raleway", sans-serif;
    font-size: large;
    text-align: center;

} 


.btn-cream2:hover{
    color:#f2Bb0c;
}

.btn-home {
    border: thick solid #fdffe5;
    color:#fdffe5;
    padding: 0;
    font-size:30px;
   display:inline-block;
   width:60px;
   height: 60px;
   font-family:default;

}

.btn-home:hover{
    color:#f2Bb0c;
}

.fa-bars{
    border-color: #fdffe5;
    color:#fdffe5;
}

.fa-bars:hover{
    color:#f2Bb0c;
}


/*--------------------------Section ---------------------------------------*/



/*--------------------------Index left side------------------------*/
.indexhoverleftdrum {
    widht:100%;
}

.indexhoverlefttv {
    widht: 100%;
}

/*-------Text Index left side----------*/
.indexh1left {
    font-family: 'Spicy Rice', cursive;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    color: #222050;
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.indexh1left:hover{
    color:#5b9bd5;
}


.indexh1leftdrum{
    position:relative;
    font-family: 'Spicy Rice', cursive;
    font-size: xx-large;
    text-transform: uppercase;
    text-align: center;
    transform:translateY(50%);
    top:10px;
    color: #222050;
    transition: 1s ease-in-out;
    -webkit-transition:1s ease-in-out;
    -moz-transition:1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.indexh1leftdrum:hover{
    color:#5b9bd5;
}


/*----------------Hovering Images Index left side images----------------*/

.indexhoverleft:hover{
    background-color: rgb(91,155,213,0.3);
    -webkit-transition:1s ease-in-out;
    -moz-transition:1s ease-in-out;
    -o-transition: 1s ease-in-out;
}

.indexhoverleftdrum:hover{
    padding:7px;
    background-color: transparent;
    -webkit-transition:1s ease-in-out;
    -moz-transition:1s ease-in-out;
    -o-transition: 1s ease-in-out;
}



.indexhoverlefttv:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s; 

  /* When the animation is finished, start again */
  animation-iteration-count: 1; 
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



/*-------SPACE----------*/
.indexbetween{
    background-color: transparent;
    height:10px;
}



/*--------------------------Index right side------------------------*/
.Newsheader{
    font-family: 'Spicy Rice', cursive;
    font-size: x-large;
    color:#222050;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.Newsheader:hover{
    color:#d9a300;
}

.newsparagraph{
    font-family: 'Raleway', sans-serif;
    font-size: smaller;
}

.carlinkblue {
    color: #222050;
    font-family: 'Raleway', sans-serif;
}

.carlinkblue:hover {
    color: #5b9bd5;
    font-family: 'Raleway', sans-serif;
}


.indexcard{
   background-color: #fdffe5;
   border-width:10px;
   border-color:#5b9bd5;
   overflow:auto;
   height: 16em;
   width:15em;
}

.bookcard {
    background-color: #fdffe5;
    margin-top: 20rem;
    overflow: auto;
    height: 16em;
}


/*--------------------------Section --radio & tv------------------------*/

.tvinside {
    position: center;
}

.laptop-wrapper {
    position: relative;
    padding-bottom: 69.5%;
    padding-top: 0px;
    padding-right: 0px;
    border: 0;
    height: 0;
    margin-bottom:20%;
}

    .laptop-wrapper iframe {
        box-sizing:border-box;
        background: url("images/tvtrans.png") center center no-repeat;
        background-size: 98%;
        padding: 29.7% 27.7% 27% 16.6%;
        position: absolute;
        top: 0;
        left: 0;
        width:100%;
        height: 130%;
        display:block;
    }


    .cardikon {
        border-bottom-width: thick;
        border-color: #fdffe5;
        color: #5b9bd5;
        font-size: 5rem;
        text-align: center;
    }

.cardikon:hover{
    color:#f2Bb0c;
}

.cardheadbook:hover{
    color:#f2Bb0c;
    text-decoration: none;
}

.musictitles{
    font-family: 'Spicy Rice', cursive;
    font-size: x-large;
    color:#222050;
    text-transform: uppercase;
    text-align: left;
    text-decoration: none;
}





/*--------------------------Section --About------------------------*/


.artistimage{
    background-color:transparent;
    width:20%;
}

.nutid {
    width: 50%;
    margin:3;
}

.nutidr {
    width: 65%;
    border-radius: 5%;
    margin: 1;
}


.artistname {
    font-family: 'Spicy Rice', cursive;
}

.artistname:hover{
 color:#5b9bd5;
}

.artistp{
     font-family: 'Raleway', sans-serif; 
}


.cardikon2{
    border-bottom-width: thick;
    border-color:#fdffe5;
    color:#222040;
    font-size: 3rem;
   padding-left: 7px;
    text-align: center;
     
}

.cardikon2:hover{
    color:#5b9bd5;
}

.cardikon3{
    border-bottom-width: thick;
    border-color:#fdffe5;
    color:#222040;
    font-size: 5rem;
   padding-left: 7px;
    text-align: center;
     
}

.cardikon3:hover{
    color:#5b9bd5;
}


/*--------------------------Section Contact / Book-------------------------*/

        /*---The modal buttons styling is found by the Navbar -items----*/


/*------------------------Footer--------------------------*/
footer {
position:fixed;
}
.footbg{
    background-color: red;
}

.footerlogo{
max-width: 10rem;
text-align: center;
vertical-align: middle;
transition-timing-function: ease-in-out;
-webkit-transition-timing-function: ease-in-out;
-moz-transition-timing-function: ease-in-out;
-o-transition-timing-function: ease-in-out;


}

.footerlogo:hover{
    content: url('images/monkeeslogosblgul.jpg');
    max-width: 10rem;
    text-align: center;
    vertical-align: middle;
  transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
}
